{% extends 'layout.html' %}
{% block style %}
<link rel="stylesheet" href="/static/css/pagina_de_produto.css">
{% endblock %}
{% block content %}

    <div class="produto-container">
        
        <div class="produto-galeria">
            <div id="carrosselProduto" class="carousel slide" data-bs-ride="carousel">
                

                <div class="carousel-inner">
                    <div>
                        <img src="{{ produto.imagem_produto }}" class="d-block w-100" alt="{{produto.nome_produto}}">
                    </div>

                </div>
            </div>
        </div>

        <div class="produto-detalhes">
            <span class="produto-categoria">Porcelanas</span>
            <h1 class="produto-nome">{{produto.nome_produto}}</h1>

            <p class="produto-descricao">
            {{produto.descricao_produto}}
            </p>
            
            <div class="produto-compra-container">
                <div class="produto-preco"><p>R$ {{produto.preco}}</p></div>
                
                <button class="botao-carrinho" aria-label="Adicionar ao carrinho">
                    <img src="/static/img/shopping-cart.png" alt="">
                </button>
            </div>
            
            <div class="produto-comentarios">
                <h3>Comentários dos Clientes</h3>
                <form action="/e_comentario" method="POST" class="form-comentario">
                <input type="hidden" value="{{id_produto}}" name="id_produto">
                
                <label for="comentario">Adicionar comentário: </label>
                <input class="campo_full" type="text" name="comentario" placeholder="Escreva seu comentário..." required>
                
                    <div class="full">
                    <button type="submit" class="btn-enviar-comentario">Enviar comentário</button>
                    </div>
                </form>
                <div class="lista-comentarios-scroll">
                                  {% for comentario in comentarios %}
                <div class="comentario-item">
                    <div class="comentario-header">
                        <strong class="comentario-autor">{{comentario.nome_completo}}</strong>

                    </div>
                    <p class="comentario-texto">{{comentario.comentario}}</p>
                </div>

                {% endfor %}  
                </div>

            </div>
        </div>

    </div>
{% endblock %}