{% extends 'layout.html' %}
{% block style %}
<link rel="stylesheet" href="/static/css/pagina_de_produto.css">
{% endblock %}
{% block content %}

    <div class="produto-container">
        
        <div class="produto-galeria">
            <div id="carrosselProduto" class="carousel slide" data-bs-ride="carousel">
                

                <div class="carousel-inner">
                    <div>
                        <img src="{{ produto.imagem_produto }}" class="d-block w-100" alt="{{produto.nome_produto}}">
                    </div>

                </div>
            </div>
        </div>

        <div class="produto-detalhes">
            <span class="produto-categoria">Porcelanas</span>
            <h1 class="produto-nome">{{produto.nome_produto}}</h1>

            <p class="produto-descricao">
            {{produto.descricao_produto}}
            </p>
            
        <div class="produto-compra-container">
            <div class="produto-preco">R$ {{produto.preco}}</div>
        
            <form action="/adicionar_carrinho/{{produto.id_produto}}" method="POST" id="form-adicionar-carrinho">
             <input type="hidden" name="quantidade" value="1"> <button type="submit" class="botao-carrinho" aria-label="Adicionar ao carrinho">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="26" height="26" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <circle cx="9" cy="21" r="1"></circle>
                    <circle cx="20" cy="21" r="1"></circle>
                    <path d="M1 1h4l2.68 13.39a2 2 0 0 0 2 1.61h9.72a2 2 0 0 0 2-1.61L23 6H6"></path>
                     </svg>
                  </button>
                </form>
             </div>
            
            <div class="produto-comentarios">
                <h3>Comentários dos Clientes</h3>
                <form action="/e_comentario" method="POST" class="form-comentario">
                <input type="hidden" value="{{id_produto}}" name="id_produto">
                
                <label for="nome">Nome: </label>
                <input type="text" name="nome" placeholder="Seu nome">

                <label for="comentario">Adicionar comentário: </label>
                <input class="campo_full" type="text" name="comentario" placeholder="Escreva seu comentário...">
                
                    <div class="full">
                    <button type="submit" class="btn-enviar-comentario">Enviar comentário</button>
                    </div>
                </form>
                {% for comentario in comentarios %}
                <div class="comentario-item">
                    <div class="comentario-header">
                        <strong class="comentario-autor">{{comentario.nome_completo}}</strong>
                    </div>
                    <p class="comentario-texto">{{comentario.comentario}}</p>
                </div>
                {% endfor %}
            </div>
        </div>

    </div>
{% endblock %}