{% extends 'layout.html' %}

{% block style %}
<!-- css pagina -->
{% endblock %}

{% block content %}
 </head>
<body>

<div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://images.pexels.com/photos/34299182/pexels-photo-34299182.jpeg" class="d-block w-100 img_carrosel" alt="Banner Louças Linha Premium">
    </div>
    <div class="carousel-item">
      <img src="https://images.pexels.com/photos/6310600/pexels-photo-6310600.jpeg" class="d-block w-100 img_carrosel" alt="Banner Mesa Posta Café">
    </div>
    <div class="carousel-item">
      <img src="https://images.pexels.com/photos/9258334/pexels-photo-9258334.jpeg" class="d-block w-100 img_carrosel" alt="Banner Detalhes Porcelana">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>


<main class="principal">
        
    <article>
        <h3>Xícara Florida</h3>
        <img src="https://images.pexels.com/photos/8694772/pexels-photo-8694772.jpeg" alt="Xícara Florida">
        <p><strong>Descrição:</strong> Uma delicada xícara de porcelana branca decorada com uma charmosa estampa de pequenas flores cor-de-rosa e folhagens verdes. O conjunto traz um pires combinando e um elegante acabamento com filete dourado que contorna as bordas onduladas.</p>
        <p><strong>Preço:</strong> R$ 110,90</p>
    </article>

</main>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/dist/js/bootstrap.bundle.min.js"></script>

<link rel="stylesheet" href="static/carrosel_card.css">

</body>
</html>

 <h1>oooooooooooooooooooo</h1>
{% endblock %}